$sf:sans-serif;
$fs15:15px;
$fs24:24px;
$maincolor: rgb(0, 151, 167);
$white-color:rgb(255, 255, 255);
$red-color-post: rgb(235, 82, 3);
$backG-post:rgb(239,239,239);
$form-border: rgb(95, 135, 139);
$line-color: rgb(95, 135, 139);
$placeholder-color: rgb(41, 37, 37);
