.post-list article .btn, .contact-form .form .send a {
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 15px;
  padding: 10px 74px;
  background-color: #0097a7; }

body {
  font-family: sans-serif;
  margin: 0; }
  body * {
    box-sizing: border-box; }
  body input, body textarea {
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #5f878b; }
  body input:focus, body textarea:focus {
    outline: 0;
    border: 3px solid #5f878b; }
  body button:hover, body a:hover {
    outline: 0;
    opacity: .6; }

header {
  background-image: url(../img/header_background_v1.jpg);
  min-height: 100vh;
  background-size: cover;
  position: relative; }
  header .top-wrapper {
    display: flex;
    justify-content: space-between; }
    header .top-wrapper .logo {
      width: 230px;
      height: 150px; }
      header .top-wrapper .logo img {
        display: block;
        max-width: 100%;
        max-height: 100%; }
    header .top-wrapper nav {
      font-size: 0; }
      header .top-wrapper nav a {
        display: inline-block;
        font-size: 15px;
        text-decoration: none;
        color: white;
        border-left: solid 2px #5f878b;
        font-weight: 700;
        text-transform: uppercase;
        padding: 20px 114px; }
      header .top-wrapper nav a:nth-child(1) {
        border: none; }
  header section {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    height: 90px;
    margin: auto; }
    header section h1 {
      margin-top: 0;
      color: white;
      text-transform: uppercase;
      font-weight: 600;
      font-size: 24px;
      margin-bottom: 27px; }
    header section .btn {
      color: white;
      text-transform: uppercase;
      text-decoration: none;
      font-size: 15px;
      padding: 13px 65px;
      background-color: #0097a7; }

main {
  max-width: 960px;
  margin: 0 auto; }
  main .toolbar {
    text-align: right;
    padding: 20px 10px 15px 0; }
    main .toolbar input {
      border-radius: 0;
      border: solid 1px #5f878b;
      padding: 10px 20px 10px 20px;
      color: #292525; }
    main .toolbar input:focus {
      border: 1px solid black; }
  main .about {
    padding: 0 15px; }
    main .about h1 {
      text-align: right;
      font-size: 24px;
      text-transform: uppercase;
      padding-top: 41px;
      margin-bottom: 0; }
    main .about p {
      font-size: 15px;
      margin: 0;
      margin-bottom: 20px;
      line-height: 24px; }
    main .about img {
      display: block;
      max-width: 100%; }

footer span {
  display: block;
  margin-top: 25px;
  margin-left: 15px;
  margin-bottom: 15px;
  font-size: 15px;
  font-family: sans-serif; }

.post-list h1 {
  text-align: right;
  margin: 0;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px; }
.post-list article {
  background-color: #efefef;
  display: flex;
  height: 322px;
  margin-bottom: 20px;
  padding-right: 20px; }
  .post-list article img {
    display: block;
    padding: 10px; }
  .post-list article .post {
    position: relative; }
    .post-list article .post .post-description {
      color: #eb5203;
      font-size: 15px;
      margin-top: 20px;
      margin-left: 5px; }
    .post-list article .post h3 {
      color: #0097a7;
      margin-top: 6px;
      padding-top: 6px;
      text-transform: uppercase;
      font-size: 15px;
      letter-spacing: 0.2px;
      margin-bottom: 0;
      border-top: 2px solid #5f878b; }
    .post-list article .post p {
      margin: 0;
      margin-top: 2px;
      font-size: 15px;
      line-height: 24px; }
  .post-list article .btn {
    margin-top: 22px;
    border: none;
    float: right; }

.contact-form h1 {
  text-align: right;
  text-transform: uppercase;
  font-size: 24px;
  margin-top: 60px;
  margin-bottom: 0; }
.contact-form h4 {
  text-align: right;
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 0;
  margin-bottom: 0;
  letter-spacing: 0.65px; }
.contact-form .form {
  padding-top: 27px; }
  .contact-form .form .input-text {
    margin-top: 0;
    margin-bottom: 0;
    text-align: right;
    color: #0097a7;
    font-weight: 300; }
  .contact-form .form .inputs {
    width: 100%;
    display: flex;
    justify-content: space-between; }
    .contact-form .form .inputs input {
      width: 100%;
      margin-top: 2px;
      height: 44px; }
    .contact-form .form .inputs .left-input, .contact-form .form .inputs .right-input {
      width: 49%; }
  .contact-form .form .question-field {
    margin-top: 24px; }
    .contact-form .form .question-field textarea {
      padding-top: 10px;
      max-width: 100%;
      max-height: 115px;
      width: 100%;
      height: 115px; }
  .contact-form .form .send {
    text-align: right;
    margin-top: 25px; }
    .contact-form .form .send a {
      font-weight: 300; }
